numpy
scipy
empy
tqdm
matplotlib
scikit-learn
casadi
pyquaternion
swig
joblib
pandas
PyYAML
gnupg
rospkg
tikzplotlib
PyQt5
PySide2
defusedxml
pykalman
setuptools>=68.1
scikit-build>=0.17
cmake>=3.27
ninja>=1.11